<<<<<<< HEAD

<!-- Container (About Section) -->
 <nav class="bg-dark navbar-dark">
  <div class="container">
  </div>
  </nav>
   <section id="header" class="jumbotron text-center">
	  
</section>
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>  <div class="text mt-3 text-dark"> <span>{{charity_name}}<br></div></h2><br>
    {{aboutUs}}
    {{aboutUs2}}
    {{aboutUs3}}
    {{aboutUs4}}
     <br>
     
      <br><button class="btn btn-default btn-lg">Get in Touch</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
   <img src="https://res.cloudinary.com/teepublic/image/private/s--qjnzY5u9--/t_Resized%20Artwork/c_fit,g_north_west,h_954,w_954/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_bbbbbb,e_outline:3:1000/c_mpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_auto,h_630,q_90,w_630/v1597067289/production/designs/12952018_0.jpg" alt="Girl in a jacket" width="300" height="300"> 
    </div>
  </div>
</div>


<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>

<img src="https://media.istockphoto.com/photos/torn-paper-concept-picture-id1085514446?k=20&m=1085514446&s=612x612&w=0&h=cv-yICLtJvbiyC2uhi1s1NylWnYlGW250yQnZmU4H94=" alt="Girl in a jacket" width="300" height="300"> 

    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2><br>
      <h4>  <div class="text mt-3 text-dark"> <span>{{values}} <br></span></div></h4>
      <h4>  <div class="text mt-3 text-dark"> <span>{{value2}} <br></span></div></h4>
    
    </div>
  </div>
</div>
<br>
<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker">Address:</span>{{address}} </p>
      <p><span class="glyphicon glyphicon-phone">Telephone Number: </span> {{telephone_number}}</p>
      <p><span class="glyphicon glyphicon-envelope"></span> {{opening_hours}}</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>


=======
  <div class="charity-card container mt-5">
      <div class="d-flex justify-content-center row">
        <div class="col-md-10">
          <div class="card" id="charity-card">
            <h4 class="card-header">{{charity_name}}</h4>
            <div class="card-body">
              <p class="card-text">
                {{description}}
              </p>
              <p><b>Telephone Number:</b>{{telephone_number}}</p>
              <p><b>Opening Hours:</b> {{opening_hours}}</p>
              <a href="{{website}}" class="all-btn">Visit Website</a>
              <a href="{{donation_page}}" class="all-btn">Donate</a>
            </div>
          </div>
        </div>
      </div>
    </div>
>>>>>>> main
